@import '../globals';

.hp-container__profile {
  @include wh(100%, 100%);
  grid-row-start: 1;
  grid-row-end: 3;
  font-family: adineue PRO;
  display: flex;
  justify-content: space-between;
  gap: 5%;

  &__img-container{
    // border: 3px dashed blue;
    @include wh(45%, 95%);
    background-image: url('../../img/profile-photo.jpg');
    background-size: cover;
    background-position: 60%;
    background-repeat: no-repeat;
    border-radius: 15px;
    align-self: flex-end;
    position: relative;
    
    &::after {
      content: '';
      border: clamp(1px, 0.235vw, 4.5px) solid $white;
      border-radius: inherit;
      @include wh(100%, 100%);
      position: absolute;
      top: -23px;
      right: -35px;
      // top: 20px;
      // right: 35px;
      z-index: -10;
    }
  }
  
  &__text-container {
    // border: 3px dashed yellow;
    @include wh(40%, 100%);
    margin-right: 39.5px;
    display: flex;
    letter-spacing: 5px;
    user-select: none;

    &__hi {
      font-size: clamp(16px, 5vw, 96px);
      width: 100%;
      transform: rotate(-180deg);
      writing-mode: tb-rl;
      color: $white;
      display: flex;
      align-items: center;
      cursor:default;

      &__text {
        height: 25%;
      }

      &__line {
        border-right: clamp(1px, 0.235vw, 4.5px) solid $white;
        height: 75%;
        transition: 0.3s ease;
      }

      &:hover > &__line{
        height: 70%;
      }
    }

    &__i-am {
      font-size: clamp(16px, 5vw, 96px);
      transform: rotate(-180deg);
      writing-mode: tb-rl;
      width: 100%;
      color: $white;
      display: flex;
      align-items: center; 
      cursor: default;

      &__text {
        height: 45%;
      }

      &__line {
        border-right: clamp(1px, 0.235vw, 4.5px) solid $white;
        height: 55%;
        transition: 0.3s ease;
      }

      &:hover > &__line{
        height: 50%;
      }
    }

    &__abimael-wrapper {
      width: 100%;
      transform: rotate(-180deg);

      &__abimael {
        border: clamp(1px, 0.235vw, 4.5px) solid $white;
        writing-mode: tb-rl;
        border-radius: 15px;
        color: $white;
        @include wh(100%, 95%);
        padding-top: 5px;
        font-size: clamp(16px, 5vw, 96px);
        cursor: pointer;
        transition: 0.3s ease;  
        position: relative;
        background-color: $dark;
        display: flex;
        align-items: center;

        &::after{
          border: clamp(1px, 0.235vw, 4.5px) solid $white;
          border-radius: 15px;
          content: '';
          display: block;
          @include wh(100%, 100%);
          position: absolute;
          z-index: -1;
          top: 20px;
          right: 35px;
        }

        &:hover {
          color: $orange;
        }

        &__text {
          // letter-spacing: 0px;
          padding-right: 10px;
        }

        &__line {
          display: none;
        }
      }
    }
  }
}