@font-face {
  font-family: 'AdineuePro';
  src: url(../../fonts/adineue-PRO.ttf) format('truetype');
}

@font-face {
  font-family: 'AdineueProBold';
  src: url(../../fonts/adineue-PRO-Bold.ttf) format('truetype');
}