@import '../globals/index';

.am-container {
  // border: 1px solid red;
  font-family: 'CascadiaLight';
  width: 100vw;
  color: white;
  padding-top: 80px;
  
  &__introduction {
    // border: 1px solid red;
    background-color: $soft-dark;
    padding: 120px clamp(16px, 24vw, 1196px);

    &__title {
      // border: 1px solid red;
      font-family: 'AdineueProBold';
      font-size: clamp(40px, 5vw, 96px);
      
      & span {
        color: $orange;
      }
    }
    
    &__subtitle {
      font-family: 'CascadiaItalic';
      font-weight: 100;
      font-size: clamp(16px, 1.67vw, 32px);
      margin: 90px 0 70px 0;
      
      @media (max-width: 750px) {
        margin: 60px 0 40px 0;
      }
    }
    
    &__text {
      font-size: clamp(16px, 1.67vw, 32px);
      font-weight: 100;
    }
  }

  &__about-my-skills-text {
    // border: 1px solid red;
    font-family: 'AdineueProBold';
    font-size: clamp(40px, 5vw, 96px);
    padding: 150px clamp(16px, 24vw, 1196px) 150px;

    & span {
      color: $orange;
    }
  }
}