@import '../globals/index';

.am-container {
  border: 1px solid red;
  font-family: Cascadia Code;
  width: 100vw;
  // height: 100vh;
  color: white;
  padding-top: 80px;
  
  &_introduction {
    border: 1px solid red;
    background-color: $soft-dark;
    // height: 700px;
    padding: 120px clamp(16px, 24vw, 1196px);

    &_title {
      // border: 1px solid red;
      font-size: clamp(48px, 5vw, 96px);
      
      & span {
        color: $orange;
      }
    }
    
    &_subtitle {
      font-size: clamp(16px, 1.67vw, 32px);
      font-weight: normal;
      font-style: italic;
      margin: 90px 0 70px 0;
      
      @media (max-width: 750px) {
        margin: 60px 0 40px 0;
      }
    }
    
    &_text {
      font-size: clamp(16px, 1.67vw, 32px);
      font-weight: 100;
    }
  }
}