@import '../globals';

.hp-container {
  border: 3px dotted blue;
  // width: 1903px;
  // height: 947px;
  width: 100vw;
  height: 100vh;
  padding: 30px;
  display: grid;
  
  grid-template-columns: 1fr 1fr;
  grid-template-rows: repeat(3, 1fr);
  align-items: center;
  justify-items: center;
  font-family: adineue PRO;
  gap: 30px;
}